body{
    font-family: "IBM Courier", monospace;
}
.wrapper{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-style: italic;
}

#workInProgress{
    background-color: #ffe0b9;
    padding: 3vw;
}
#workInProgress p1{
    font-weight: bold;
    font-size: ;
}