body{
    font-family: "IBM Courier", monospace;
    margin:0;
    background-color: #232326;
    color: #FFF9F2;
}



h1{
    margin: 0;
    padding: 0;
}

#workInProgress{
    background-color: #fff3b9;
    color: #9f9137;
    padding: 3vw;
}
#workInProgress p1{
    font-weight: bold;
    font-size: 3vw;
}

#workInProgress p2{
    font-size: 1.5em;
}

a:link {
    color: #FFF9F2;
}

/* visited link */
a:visited {
    color: #FFF9F2;
}

/* mouse over link */
a:hover {
    text-decoration: underline dotted;
}

/* selected link */
a:active {
    color: #232326;
}