body{
    font-family: "IBM Courier", monospace;
    margin:0;
    background-color: #232326;
    color: #FFF9F2;
}

.terminalBlock {
    border: 1px solid #FFF9F2;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    padding: 2vmin;
    margin: 5vmin;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    scroll-snap-stop: always;
}
.terminalBlock::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

h1{
    margin: 0;
    padding: 0;
}

#workInProgress{
    background-color: #fff3b9;
    color: #9f9137;
    padding: 3vw;
}
#workInProgress p1{
    font-weight: bold;
    font-size: 3vw;
}

#workInProgress p2{
    font-size: 1.5em;
}

a:link {
    color: #FFF9F2;
}

/* visited link */
a:visited {
    color: #FFF9F2;
}

/* mouse over link */
a:hover {
    text-decoration: underline dotted;
}

/* selected link */
a:active {
    color: #232326;
}