.helpTable{
    width: fit-content;

}
.command{
    vertical-align: top;
    width: fit-content;
    white-space: nowrap;
    text-align: right;

}
.usage {
    text-align: left;
    padding-left: 1em;
    padding-bottom: .3vmin;
}


@media screen and (max-width: 500px) {

    .helpTable{
        font-size: .8em;
    }


}
