.lst-kix_5yaimdx8nxvz-0 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-2 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-1 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-3 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-6 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-8 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-6 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-4 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-7 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-0 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-7 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-8 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-1 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-3 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-4 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-5 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-6 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-2 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-4 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-0 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-1 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-2 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-3 > li:before {
    content: "-  "
}

ul.lst-kix_5yaimdx8nxvz-8 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-0 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-1 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-2 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-3 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-4 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-5 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-6 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-7 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-5 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-4 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-3 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-2 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-8 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-7 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-6 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-1 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-0 {
    list-style-type: none
}

.lst-kix_j9v9s4vihfxc-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_ckbzkox5887y-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_ckbzkox5887y-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_fkwuj6v1j8sm-0 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_ckbzkox5887y-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_fkwuj6v1j8sm-1 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-3 > li:before {
    content: "-  "
}

.lst-kix_j9v9s4vihfxc-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_fkwuj6v1j8sm-2 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_j9v9s4vihfxc-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_j9v9s4vihfxc-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_fkwuj6v1j8sm-5 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-7 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-0 {
    list-style-type: none
}

.lst-kix_j9v9s4vihfxc-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_fkwuj6v1j8sm-4 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-8 > li:before {
    content: "-  "
}

.lst-kix_j9v9s4vihfxc-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_j9v9s4vihfxc-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_ckbzkox5887y-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_j9v9s4vihfxc-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_fkwuj6v1j8sm-6 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_j9v9s4vihfxc-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_jq4amtckw91l-4 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-3 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-0 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-2 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-1 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-1 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-8 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-7 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-6 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-5 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-7 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-8 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-3 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-2 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-6 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-4 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-7 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-8 > li:before {
    content: "-  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_rhyaqr1etkax-4 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-5 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-6 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-7 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-0 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-6 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-1 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-7 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-2 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-8 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-3 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-2 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-3 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-4 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-5 {
    list-style-type: none
}

.lst-kix_ckbzkox5887y-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_rhyaqr1etkax-8 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-0 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-1 {
    list-style-type: none
}

.lst-kix_ckbzkox5887y-8 > li:before {
    content: "\0025a0  "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c19 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 142.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c28 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 47.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 50.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c5 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 181pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c30 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 105.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c13 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 234pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c8 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 362.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c1 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Arial";
    font-style: normal
}

.c16 {
    color: #232326;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 5pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c23 {
    color: #232326;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c18 {
    text-decoration-skip-ink: none;
    font-size: 9pt;
    -webkit-text-decoration-skip: none;
    color: #ef5252;
    text-decoration: underline
}

.c11 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: italic
}

.c29 {
    padding-top: 0pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    text-align: left
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c24 {
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right
}

.c20 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c35 {
    margin-left: 23.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c33 {
    background-color: #fff9f2;
    width: 468pt;
    height: fit-content;
    margin: 2vmin auto;
    padding: 4vmin;
    border: 1px solid #232326;
;

}

.c7 {
    color: #232326;
    font-size: 9pt
}

.c22 {
    padding: 0;
    margin: 0
}

.c12 {
    margin-left: 24.8pt;
    padding-left: 0pt
}

.c3 {
    color: inherit;
    text-decoration: inherit
}

.c31 {
    height: 64.3pt
}

.c34 {
    height: 41pt
}

.c25 {
    height: 8.7pt
}

.c32 {
    color: #232326
}

.c14 {
    font-style: italic
}

.c21 {
    height: 11pt
}

.c4 {
    margin-left: 18pt
}

.c27 {
    height: 51pt
}

.c10 {
    height: 0pt
}

.c26 {
    margin-left: 22.5pt
}

.c15 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}