@font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

.lst-kix_5yaimdx8nxvz-0 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-2 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-1 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-3 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-6 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-8 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-6 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-4 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-7 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-0 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-7 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-8 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-1 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-3 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-4 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-5 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-6 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-2 > li:before {
    content: "-  "
}

.lst-kix_jq4amtckw91l-4 > li:before {
    content: "-  "
}

ul.lst-kix_fkwuj6v1j8sm-0 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-1 {
    list-style-type: none
}

ul.lst-kix_fkwuj6v1j8sm-2 {
    list-style-type: none
}

.lst-kix_jq4amtckw91l-3 > li:before {
    content: "-  "
}

ul.lst-kix_5yaimdx8nxvz-8 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-0 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-1 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-2 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-3 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-4 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-5 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-6 {
    list-style-type: none
}

ul.lst-kix_5yaimdx8nxvz-7 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-5 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-4 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-3 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-2 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-8 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-7 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-6 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-1 {
    list-style-type: none
}

ul.lst-kix_j9v9s4vihfxc-0 {
    list-style-type: none
}

.lst-kix_j9v9s4vihfxc-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_ckbzkox5887y-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_ckbzkox5887y-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_fkwuj6v1j8sm-0 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_ckbzkox5887y-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_fkwuj6v1j8sm-1 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-3 > li:before {
    content: "-  "
}

.lst-kix_j9v9s4vihfxc-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_fkwuj6v1j8sm-2 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_j9v9s4vihfxc-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_j9v9s4vihfxc-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_fkwuj6v1j8sm-5 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-7 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-0 {
    list-style-type: none
}

.lst-kix_j9v9s4vihfxc-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_fkwuj6v1j8sm-4 > li:before {
    content: "-  "
}

.lst-kix_fkwuj6v1j8sm-8 > li:before {
    content: "-  "
}

.lst-kix_j9v9s4vihfxc-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_j9v9s4vihfxc-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_ckbzkox5887y-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_j9v9s4vihfxc-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_fkwuj6v1j8sm-6 > li:before {
    content: "-  "
}

.lst-kix_ckbzkox5887y-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_j9v9s4vihfxc-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_jq4amtckw91l-4 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-3 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-0 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-2 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-1 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-1 > li:before {
    content: "-  "
}

ul.lst-kix_jq4amtckw91l-8 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-7 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-6 {
    list-style-type: none
}

ul.lst-kix_jq4amtckw91l-5 {
    list-style-type: none
}

.lst-kix_rhyaqr1etkax-7 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-8 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-3 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-2 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-6 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-4 > li:before {
    content: "-  "
}

.lst-kix_rhyaqr1etkax-5 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-7 > li:before {
    content: "-  "
}

.lst-kix_5yaimdx8nxvz-8 > li:before {
    content: "-  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_rhyaqr1etkax-4 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-5 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-6 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-7 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-0 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-6 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-1 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-7 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-2 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-8 {
    list-style-type: none
}

ul.lst-kix_rhyaqr1etkax-3 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-2 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-3 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-4 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-5 {
    list-style-type: none
}

.lst-kix_ckbzkox5887y-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_rhyaqr1etkax-8 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-0 {
    list-style-type: none
}

ul.lst-kix_ckbzkox5887y-1 {
    list-style-type: none
}

.lst-kix_ckbzkox5887y-8 > li:before {
    content: "\0025a0  "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c7 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 141.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c6 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 51pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c11 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 47.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c27 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 181pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c46 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 355.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c22 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 112.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;

    border-top-color: #000000;
    border-bottom-style: solid
}

.c15 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    font-style: normal
}

.c38 {
    color: #232326;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Georgia";
    font-style: italic
}

.c20 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Georgia";
    font-style: normal
}

.c25 {
    color: #232326;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Georgia";
    font-style: normal
}

.c1 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    font-style: italic
}

.c0 {
    color: #ef5252;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    font-style: normal
}

.c2 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Georgia";
    font-style: italic
}

.c10 {
    color: #232326;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "IBM Plex Sans";
    font-style: normal
}

.c9 {
    color: #232326;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Georgia";
    font-style: normal
}

.c26 {
    font-size: 9pt;
    font-family: "Georgia";
    font-style: italic;
    color: #232326;
    font-weight: 700
}

.c12 {
    font-size: 9pt;
    font-family: "Georgia";
    font-style: italic;
    color: #232326;
    font-weight: 400
}

.c30 {
    font-size: 10pt;
    font-family: "Georgia";
    font-style: italic;
    color: #232326;
    font-weight: 400
}

.c45 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-bottom: 5pt;
    line-height: 1.0;
    text-align: left
}

.c8 {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    text-align: left
}

.c28 {
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    color: #ef5252;
    font-weight: 400
}

.c48 {
    margin-left: 23.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c40 {
    color: #232326;
    font-weight: 400;
    font-size: 10pt;
    font-family: "Georgia"
}

.c33 {
    font-size: 10pt;
    font-family: "IBM Plex Sans";
    color: #232326;
    font-weight: 400
}

.c21 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c42 {
    font-size: 10pt;
    font-family: "Georgia";
    color: #232326;
    font-weight: 700
}

.c32 {
    font-size: 10pt;
    font-family: "IBM Plex Sans";
    color: #232326;
    font-weight: 500
}

.c44 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c19 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    text-align: left
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right
}

.c47 {
    color: #232326;
    font-weight: 700;
    font-size: 18pt;
    font-family: "Georgia"
}

.c18 {
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    color: #232326;
    font-weight: 400
}

.c41 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: right
}

.c24 {
    font-size: 9pt;
    font-family: "IBM Plex Sans";
    color: #232326;
    font-weight: 500
}

.c35 {
    background-color: #fafafa;
    max-width: 468pt;
    height: fit-content;
    margin: 2vmin auto;
    padding: 4vmin;
}

.c37 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c17 {
    color: inherit;
    text-decoration: inherit
}

.c5 {
    padding: 0;
    margin: 0
}

.c23 {
    margin-left: 24.8pt;
    padding-left: 0pt
}

.c4 {
    orphans: 2;
    widows: 2
}

.c13 {
    height: 8.7pt
}

.c34 {
    height: 64.3pt
}

.c43 {
    font-style: italic
}

.c36 {
    height: 41pt
}

.c16 {
    height: 0pt
}

.c29 {
    height: 51pt
}

.c39 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

#downloadButton, #mobileDisclaimer{

    position: fixed;
    padding: 2vmin;
    margin: 1vmin 2vmin;
    border-radius: 5px;
    opacity: 80%;
    font-family: "IBM Plex Sans";

}
#downloadButton{
    top: 0;
    right:0;
    background-color: #232326;
    color: #FFF9F2;
    text-decoration: underline solid;
    font-size: max(1.5vmin,10pt);

    font-weight: bold;

}
#downloadButton:hover{
    text-decoration: underline dotted;
}
#downloadButton:active{
    color: #232326;
}
#mobileDisclaimer{
    display: none;
    left: 0;
    bottom:0;
    background-color: #D6D6D6AA;
    color:#232326;
    opacity: 100%;
    font-family: "IBM Plex Sans";
    width: auto

}

.date{
    white-space: nowrap;
}

#awfultable{
    table-layout: fixed;
    width: 100%;
}

#xButton{
    font-size: 1.5em;
    width: fit-content;
    background-color: rgb(35,35,38);
    height: fit-content;
    color: rgb(226,226,226);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-radius: 5pt;
}

#xButton :hover{
    border: 2px solid rgb(226,226,226);
}

#disclaimer{
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    color: rgb(35,35,38);
    font-weight: 500;
}

@media screen and (max-width: 515px) {

    #mobileDisclaimer{
        display: block;
    }


}
