.terminalDisplay{
    padding: 0 4vmin 4vmin;
    max-width: 1200px;

}

.terminalMain{
    max-height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.terminalHeader{
    margin:4vmin 0;
    display: flex;
    align-items: center;
    width:90%;
    max-width: 900px;
    font-size: 2.4em;
}
.terminalHeader .mainLogo{
    height: 1.4em;
}

.terminalHeader .mainTitle{
    display: flex;
    font-weight: bold;
}
.terminalHeader .mainTitle .n{
    margin-left: .6em;
    margin-right: .4em;
}

.blocker{
    height: 20px;
    background-color: #FFF9F2;
    margin: 4vmin 0;

}

.terminalMenu {
    color: #232326;
    padding: 0 .5em;
    font-size: .8em;
    align-items: stretch;
    display: flex;
}

.menuButton{


    padding: 0 .5em;
    padding-top: .1em;
    font-weight: bold;
}


.menuButton:hover{
    background-color: #232326;
    color: #FFF9F2;
}
.menuButton:active{
    background-color: #232326;
    color: #232326;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #232326;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF9F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D6D6D6;
}
