.terminalBlock {
    border: 1px solid #FFF9F2;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    padding: calc(2vmin + 23px) 2vmin 2vmin 2vmin;
    margin: 5vmin;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}
.terminalBlock::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



.blocker{
    height: 20px;
    background-color: #FFF9F2;
    font-size: .8em;
    color: #232326;
    font-weight: bold;
    align-items: stretch;
    display: flex;
}



.toolbar{
    position: absolute;
    margin-bottom: 20px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;


}

#toolApp{
    padding-left: 1vw;
}
#toolTime{
    padding-right: 1vw;
}



@media screen and (max-width: 500px) {
    .toolbar{
        justify-content: flex-start;
    }
    #toolTime{
        display: none;
    }

}

.terminalDisplay{
    padding: 0 4vmin 4vmin 4vmin;
    max-width: 1200px;
    height: auto;

}

.terminalMain{
    max-height: calc(70% - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.terminalHeader{
    margin:4vmin 0;
    display: flex;
    align-items: center;
    font-size: min(max(8vmin,20px),70px)
}
.terminalHeader .mainLogo{
    height: 1.4em;
}

.terminalHeader .mainTitle{
    display: flex;
    font-weight: bold;
}
.terminalHeader .mainTitle .n{
    margin-left: .6em;
    margin-right: .4em;
}



.terminalMenu {
    margin: 4vmin 0;
    padding: 0 .5em;
}

.menuButton{


    padding: 0 .5em;
    padding-top: .1em;
    font-weight: bold;
}


.menuButton:hover{
    background-color: #232326;
    color: #FFF9F2;
}
.menuButton:active{
    background-color: #232326;
    color: #232326;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #232326;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFF9F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D6D6D6;
}
